.skills{
    height: 75dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5% 0;
}
.languages{
    padding: 0.8rem;
    width: min(32rem, 80%);
    height: 20rem;
    background: rgba(0, 0, 0, 0.55);
    border-radius: 2em;
    backdrop-filter: blur(12px);
    overflow: auto;
    animation: languageAnimation 0.8s 1;
}
.languagesP{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 1rem;
    justify-items:center;
}
.languages h1{
    color: white;
    text-align: center;
}
.languageSS{
    width: 100px;
    height: 115px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    animation: languageAnimation 1.5s 1;
}
.languageSS h2{
    color: white;
}
.languageSS img{
    width: 48px;
    height: 48px;
    object-fit: contain;
}

@keyframes languageAnimation{
    0%{
        opacity: 0;
        transform: translateX(-500px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}