.skills{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5% 0;
}
.languages{
    padding: 0.8rem;
    width: min(32rem, 80%);
    height: auto;
    background: rgba(0, 0, 0, 0.55);
    border-radius: 2em;
    backdrop-filter: blur(12px);
    animation: languageAnimation 0.8s 1;
    color: white;
}
.languages h1{
    color: white;
    text-align: center;
}
.languagesType{
    display: flex;
    flex-direction: column;
    padding: 1em;
}
.languagesType h2{
    text-align: center;
}
.languagesP{
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 1rem;
    justify-items:center;
    padding: 0.5rem;
}
.languagesSkills{
    gap: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.languagesSkills img{
    height: 38px;
}

@keyframes languageAnimation{
    0%{
        opacity: 0;
        transform: translateX(-500px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}