.skills{
    height: 75dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5% 0;
}
.languages{
    padding: 0.8rem;
    width: min(32rem, 80%);
    height: 20rem;
    background: rgba(0, 0, 0, 0.55);
    border-radius: 2em;
    backdrop-filter: blur(12px);
    overflow: auto;
}
.languagesP{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 1rem;
    justify-items:center;
}
.languages h1{
    color: white;
    text-align: center;
}
.languageSS{
    width: 100px;
    height: 115px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.languageSS h2{
    color: white;
}
.languageSS img{
    width: 48px;
    height: 48px;
    object-fit: contain;
}
.stain_2{
    z-index: -1;
    width: 280px;
    height: 130px;
    border-radius: 20rem;
    background-color: #2219c9;
    position: absolute;
    bottom: -15rem;
    right: 32rem;
    filter: blur(45px);
    opacity: 0.7;
}
