.nav{
    z-index: 10000;
    position: fixed;
    background: #080916;
    width: 100%;
    height: 3.5em;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}
.menu{
    width: 65%;
}
.menu_space{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.buttons-space{
    width: 58%;
    height: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo h1{
    color: white;
    transition: linear .3s;
}
.logo h1:hover{
    color: #393ce2;
}
.buttons-space a{
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    position: relative;
}
.buttons-space a::after{
    content: '';
    width: 0%;
    height: 4px;
    position: absolute;
    left: 0;
    top: 22px;
    background-color: #393ce2;
    transition: linear .3s;
}
.buttons-space a:hover::after{
    width: 100%;
}
.social-networks{
    display: flex;
    flex-direction: row;
}
.social-networks i{
    font-size: 2rem;
    color: #d8d8d8;
    margin-left: 5px;
    transition: .3s linear;
}
.social-networks i:hover{
    color: #393ce2;
}
.close{
    font-size: 2rem;
    color: #d8d8d8;
    display: none;
    cursor: pointer;
}
.close-part2{
    display: none;
    cursor: pointer;
}
@media(max-width: 849px){
    .buttons-space{
        width: 75%;
    }
}
@media(max-width: 679px){
    .nav .menu{
        display: none;
    }
    .close{
        z-index: 1000;
        display: block;
    }
    .nav .menu.active{
        z-index: 2000;
        position: fixed;
        right: 0;
        top: 0;
        background-color: rgb(4, 3, 71);
        width: 35vw; 
        height: 100%; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        animation: start-in .2s 1;
    }
    .nav .menu.active .menu_space{
        width: 32vw;
        height: 45vh;
        flex-direction: column;
        margin-top: 15px;
    }
    .nav .menu.active .buttons-space{
        width: 100%;
        height: 90%;
        flex-direction: column;
    }
    .nav .menu.active .social-networks{
        justify-content: center;
    }
    .nav .menu.closing{
        animation: slide-out .2s 1 forwards;
    }
    .close-part2{
        font-size: 3rem;
        color: white;
        display: block;
    }
}

@keyframes start-in {
    0%{
        transform: translateX(500px);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes slide-out {
  0% { transform: translateX(0); }
  100% { transform: translateX(500px); }
}