.main{
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    font-weight: 400;
}
.img{
    width: min(282px, 80%);
    height: auto;
    position: relative;
    z-index: 0;
    animation: first-anim 1s 1;
}
.img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.name{
    width: min(550px, 85%);
    animation: second-anim 0.5s 1;
}
.name h2{
    font-size: 2.8rem;
}
.desc p{
    font-size: clamp(0.6rem, 3vw, 1rem);
}
.resume-download{
    margin-top: 1rem;
    background: #0d0852;
    padding: 0.6rem;
    width: 12em;
    height: 3rem;
    border: 2px #0d0852 solid;
    border-radius: 0.5rem;
    color: white;
    text-transform: uppercase;
}
.img::after, .img::before{
    content: '';
    position: absolute;
    inset: -5px;
    z-index: -1;
    background: conic-gradient(from var(--angle), #1008b9, #0d0c20, #22c6ce, #0d0c20, #1008b9 );
    border-radius: 50%;
    animation: flip-in 2s infinite linear;
}

.img::before{
    z-index: -2;
    opacity: 0.4;
    filter: blur(30px);
}
.grid{
    z-index: -100;
    background: url('./../../assets/grid.webp'), #080916;
    background-blend-mode:luminosity;
    width: 100%;
    height: 105vh;
    position: absolute;
    top: 0px;
}

@keyframes second-anim{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes first-anim{
    0%{
        opacity: 0;
        transform: translateX(80px);
        filter: blur(10px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
        filter: blur(0);
    }
}
@media(max-width: 887px){
    .main{
        height: 100dvh;
        flex-direction: column;
        padding: max(5%, 1.5rem);
        gap: 1rem;
    }
    .img{
        width: min(224px, 80%);
    }
    .name{
        width: min(350px, 85%);
    }
    .name h2{
        font-size: clamp(1.4rem, 5vw, 2.6rem);
    }
    .grid{
        height: 102dvh;
    }
}
@media(max-width: 328px){
    .img{
        margin-top: 1.5rem;
    }
}

@property --angle{
    syntax: '<angle>';
    initial-value: 53deg;
    inherits: false;
}

@keyframes flip-in{
    from{
        --angle: 53deg;
    }to{
        --angle: 413deg;
    }
}

