.projects-container {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
    padding: 1em;
    overflow: hidden;
}
.project-portfolio{
    max-width: 500px;
    background-color: rgb(243, 243, 243);
    padding: min(2em, 5%);
    border-radius: 2rem;
    gap: 1.5rem;
    animation: projectAnimation 1.1s 1;
}
.project-portfolio img{
    border-radius: 1.5rem;
    max-width: 100%;
    height: auto;
}
.project-portfolio h2{
    font-size: min(6vw, 2rem);
}
.project-portfolio p{
    font-size: min(1.5rem, 5vw);
}
.portfolio-desc{
    max-width: 100%;
}
.portfolio-desc h5{
    font-size: min(0.9rem, 3.6vw);
}
.links-redirect{
    width: 55%;
    display: flex;
    justify-content: space-between;
}
.github-redirect, .deployment-redirect{
    display: flex;
    padding: 0.6rem;
    width: auto;
    height: 2.5rem;
    text-transform: uppercase;
    border-radius: 0.5rem;
    color: white;
    cursor: pointer;
}
.github-redirect{
    background-color: black;
}
.deployment-redirect{
    background-color: rgb(18, 8, 73);
}
@media(max-width: 532px){
    .links-redirect{
        flex-direction: column;
        height: 5.5rem;
        width: min(50%, 80%);
    }
    .github-redirect, .deployment-redirect{
        justify-content: center;
        align-items: center;
    }
}
@media(max-width: 334px){
    .project-portfolio, .project-portfolio img{
        border-radius: 1rem;
    }
}
@keyframes projectAnimation{
    0%{
        transform: translateX(500px);
        filter: blur(12px);
    }
    100%{
        transform: translateX(0);
        filter: blur(0);
    }
}