.projects-container {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
    padding: 1em;
    overflow: hidden;
}
.project-portfolio{
    background-color: rgb(243, 243, 243);
    padding: min(2em, 4%);
    border-radius: 2rem;
    gap: 1.5rem;
    animation: projectAnimation 1.1s 1;
    cursor: pointer;
}
.project-portfolio img{
    border-radius: 1.5rem;
    max-width: 100%;
    height: auto;
}
.project-portfolio h2{
    font-size: min(6vw, 2rem);
}
@media(max-width: 334px){
    .project-portfolio, .project-portfolio img{
        border-radius: 1rem;
    }
}
@keyframes projectAnimation{
    0%{
        transform: translateX(500px);
        filter: blur(12px);
    }
    100%{
        transform: translateX(0);
        filter: blur(0);
    }
}