.contact{
    padding: min(3em, 5vw) min(6em, 6vw);
    margin: 1rem 1.5rem;
}
.contact h1{
    text-align: center;
    color: white;
    margin-bottom: 4rem;
}
.contact-items{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.whatsapp, .e-mail, .linkedin-2, .github-2{
    color: rgb(221, 221, 221);
    width: auto;
    height: 102px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    transition: transform .2s ease-out;
    cursor: pointer;
}
.whatsapp:hover, .e-mail:hover, .linkedin-2:hover, .github-2:hover{
    transform: scale(1.5);
}
.whatsapp-icon, .e-mail-icon, .linkedin-icon, .github-icon{
    display: flex;
    width: 52px;
    height: 52px;
    padding: 0.5em;
    background-color: #0b105f;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 2rem;
    color: white;
}
.whatsapp b, .e-mail b, .linkedin-2 b, .github-2 b{
    color: #8d909e;
}